body {
    margin: -10px;
    overflow: hidden;
}

.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
}

iframe {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

#Helsinki-Tallinna {
    position: absolute;
    width: 40%;
    height: auto;
    top: 25%;
    left: 0;
    right: 50px;
    margin: auto;
    z-index: 1;
}

#tallinna-vaakuna {
    position: absolute;
    width: 20%;
    height: auto;
    top: 45%;
    left: 50%;
    margin: auto;
}

#helsinki-vaakuna {
    position: absolute;
    width: 20%;
    height: auto;
    top: 50%;
    left: 25%;
    margin: auto;
}

#mobiili-background {
    display: none;
}

/* MOBIILIOPTIMOINTI */

@media only screen and (max-width: 600px) {

    body {
        max-height: 1000px;
    }

    .videoContainer__video {
        display: none;
    }

    #mobiili-background {
        display: block;
    }

    #Helsinki-Tallinna {
        width: 90%;
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #helsinki-vaakuna {
        width: 30%;
        float: left;
        top: 400px;
        left: 0;
        right: 0;
        margin: auto;
    }

    #tallinna-vaakuna {
        float: left;
        width: 30%;
        top: 650px;
        left: 0;
        right: 0;
        margin: auto;
    }
}