/*YLEINEN*/

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    overflow-x: hidden;
    overflow: auto;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    font-weight: bolder;
}

.welcome-text p {
    text-align: center;
}

/*SIVUMENU*/

#mySidenav a {
    white-space: nowrap;
}

/*NELIÖVALIKKO*/

.flexboxmenu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.flexboxmenu a {
    text-decoration: none;
}

.menuitem {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 75px;
    background-color: white;
    text-align: center;
    overflow: hidden;
}

.menu-kuva-blur img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(2px);
    transform: scale(1.2);
}

.menu-kuva-blur:hover img {
    filter: blur(0);
    transform: scale(1);
}

.menu-kuva-mustavalko img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
}

.menu-kuva-mustavalko:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
}

.menu-teksti-div {
    position: relative;
    margin: 0;
    top: 20%;
    transform: translateY(-50%);
    color: white;
    text-shadow: 4px 4px 8px #000000;
}

/*HEADER*/

header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: greenyellow;
    width: 100%;
    height: 200px;
    min-width: 800px;
    padding: 5px;
}

#otsikko {
    float: left;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    margin-top: 40px;
    position: static;
}

#kello {
    margin-top: 0;
    position: absolute;
    font-size: 40px;
}

#saa {
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
}

.logot {
    position: absolute;

}

#logo1 {
    width: 13%;
    height: auto;
    top:60px;
    left: 0;
    right: 20%;
    margin: auto;
}

#logo2 {
    width: 20%;
    height: auto;
    top: 60px;
    left: 20%;
    right: 0;
    margin: auto;
}

/*FOOTER*/

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #70ffc8;
    margin-top: 100px;
}

#copyright {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size: 30px;
}

#tekijät {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

/*LUONTOREITIT / KARTTA */

#kartta-ja-valinnat {
    position: relative;
}

#esittely {
    text-align: center;
}

#mapid {
    height: 500px;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
}

#map-filter {
    width: 615px;
    margin: auto;
    text-align: center;
}

#map-filter input {
    text-align: right;
}

#map-filter p {
    font-size: 25px;
}

#map-filter input[type="text"]
{
    font-size:10px;
}

#filter-button {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin: 20px;
    background-color: lightskyblue;
    color: black;
    border: 2px solid #000000; /* Green */
}

#loydetyt-luontoreitit {
    width: 700px;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}

#loydetyt-luontoreitit h2 {
    margin: 20px;
    text-align: center;
}

#loydetyt-luontoreitit a {
    color: #000000;
    text-decoration: none;
}

#loydetyt-luontoreitit a:hover {
    color: #000000;
    text-shadow: 2px 2px 4px #ffffff;
}

#luontoreitti-lista-helsinki, #luontoreitti-lista-tallinna {
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

#luontoreitti-lista-helsinki li, #luontoreitti-lista-tallinna li {
    margin-top: 10px;
}