

.slidecontainer {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 25px;
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: steelblue;
    cursor: pointer;
}

.history-texts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 600px;
}

.history-text-item {
    width: 800px;
    height: fit-content;
    margin-top: 0;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(211, 211, 211, 0.5);
    text-align: center;
}

#hist-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    filter: blur(2px);
    z-index: -1;
    width: 800px;
}

#hist-references {
    position: relative;
    background-color: rgba(211, 211, 211, 0.5);
    left: 0;
    right: 0;
    bottom: -100px;
    margin: auto;
    display: block;
    text-align: center;
    width: fit-content;
}

footer {
    margin-top: 100px;
}

/* MOBIILI OPTIMOINTI */

@media only screen and (max-width: 800px) {

    #hist-img {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: auto;
    }

    .history-text-item {
        width: 90%;
        height: fit-content;
    }

    .history-texts {
        height: 540px;
    }

    footer {
        margin-top: 100px;
    }

    #hist-references {
        bottom: -100px;
    }
}

@media only screen and (max-width: 600px) {

    footer {
        margin-top: 100px;
    }

    #hist-img {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        height: auto;
    }

    .history-texts {
        height: 405px;
    }

    .history-text-item {
        width: 90%;
        height: fit-content;
    }

    #hist-references {
        bottom: -100px;
    }


    #tallinn-slider-text, #helsinki-slider-text {
        font-size: 10px;
    }
}

@media only screen and (max-width: 400px) {

    .history-texts {
        height: 270px;
    }

    #historia-container {
        position: relative;
    }
}